body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/transparentTriangle.svg");
    margin: 0;
    color: #5E5E5E;
    font-family: "lato", 'Arial';
}

.header {
    background-color: #000E9C;
    width: 100%;
    height: 10%;
    padding-top: 35px;
    position: relative;
}

.wrapper img {
    display: block;
    margin: auto;
    margin-top: -25px;
    padding-bottom: 15px;
}

.content {
    text-align: center;
    padding: 3%;
}

.content h1 {
    font-size: 2.5em;
    font-weight: 200;
}

.content p {
    font-size: 1.5em;
}

.company-info {
    font-size: 1.2em;
    text-align: left;
    margin: 20px 0;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.company-info ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.company-info li {
    margin: 0 20px; 
}

.company-info i {
    font-size: 24px; 
    margin-right: 10px;
}

.company-info a {
    color: #007BFF;
    text-decoration: none;
}

.company-info a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #000E9C;
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    padding-top: 30px;
    text-align: center;
}

.footer p {
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
}
